.button {
    margin: 10px;
    width: 60px;
    background:#565656 ;
    color: #737373;
    outline: none;
}

.button:focus {
    outline: #989898 solid 1px;
}

.button:active {
    background: #565656;
}

.active {
    background: #343434;
}

.affair {
    display: flex;
}

.item {
    margin: 10px;
    width: 100px;
}

.high {
    color: red;
}

.middle {
    color: orange;
}

.low {
    color:aquamarine;
}