.button {
    margin: 10px;
    width: 60px;
    background:yellowgreen ;
    color: rebeccapurple;
    outline: none;
}

.button:focus {
    outline: #989898 solid 1px;
}

.button:active {
    background: goldenrod;
}

.active {
    background: #cd1117;
}

.affair {
    display: flex;
}

.item {
    margin: 10px;
    width: 100px;
}

.high {
    color: red;
}

.middle {
    color: rgba(157, 0, 255, 0.264);
}

.low {
    color:aquamarine;
}