.greeting {
    display: flex;
    align-items: flex-start;
}

.error {
    height: 21px;
    color: red;
    margin-left: 10px;
}
.input {
    margin: 10px;
    background: green;
    color: beige;
}

.input:focus {
    border: 2px solid bisque;
}

.errorInput {
    margin: 10px;
    background: white;
    color: blueviolet;
    border: 2px solid red;
    outline: none;
}

.button {
    margin: 10px;
    width: 60px;
    background: greenyellow;
    color: blueviolet;
    outline: none;
}

.button:focus {
    outline: 1px solid #002300;
}
.button:active {
    background: yellow;
}
.button:disabled {
    color:blue;
}
.count {
    margin: 10px;
}